<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap"
  rel="stylesheet"
/>

<!-- Profile Card-->
<ion-card>
  <ion-grid>
    <ion-row>
      <ion-col class="alg">
        <div class="icon-container">
          <img src="./assets/img/img.jpeg" class="profile-photo" />
          <div class="status-circle"></div>
        </div>
      </ion-col>
      <ion-col>
        <h2>Peter Wans</h2>
        <p>Pro Player</p>
      </ion-col>
      <ion-col>
        <h2>Last Access</h2>
        <p>ago 12m</p>
      </ion-col>
      <ion-col class="alg">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>

<!--Favorite Text-->
<h6 class="Fav">Favorites</h6>

<!--Games Card-->
<ion-content class="no-scroll">
  <ion-slides>
    <!--COD: WARZONE CARD-->
    <ion-slide>
      <ion-card class="games">
        <img class="imgs" src="./assets/img/warzone.jpeg" />
        <ion-card-content>
          <h1>
            Description
          </h1>
          <ion-card-title>
            Call of Duty: WARZONE
          </ion-card-title>
          <br />
          <ion-grid class="align-grid">
            <ion-row class="align-row">
              <ion-col size="6.5">
                <ion-icon name="game-controller-outline"></ion-icon>
                Battle Royale
              </ion-col>
              <ion-col>
                <ion-icon name="apps-outline"></ion-icon>
                FPS
              </ion-col>
            </ion-row>
            <ion-row class="align-row">
              <ion-col size="6.5">
                <ion-icon name="time-outline"></ion-icon>
                42.518 min
              </ion-col>
              <ion-col>
                <ion-icon name="people-outline"></ion-icon>
                12 friends
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid>
            <ion-row>
              <ion-col class="ion-text-center">
                <ion-button shape="round" class="btnd">
                  <ion-icon name="trash"></ion-icon>
                  DELETE
                </ion-button>
              </ion-col>

              <ion-col class="ion-text-center">
                <ion-button shape="round" class="btnp">
                  <ion-icon name="play"></ion-icon>
                  PLAY
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <!--FORTNITE CARD-->
    <ion-slide>
      <ion-card class="games">
        <img class="imgs" src="./assets/img/fortnite.jpeg" />
        <ion-card-content>
          <h1>
            Description
          </h1>
          <ion-card-title>
            Fortnite
          </ion-card-title>
          <br />
          <ion-grid class="align-grid">
            <ion-row class="align-row">
              <ion-col size="6.5">
                <ion-icon name="game-controller-outline"></ion-icon>
                Battle Royale
              </ion-col>
              <ion-col>
                <ion-icon name="apps-outline"></ion-icon>
                TPS
              </ion-col>
            </ion-row>
            <ion-row class="align-row">
              <ion-col size="6.5">
                <ion-icon name="time-outline"></ion-icon>
                12.025 min
              </ion-col>
              <ion-col>
                <ion-icon name="people-outline"></ion-icon>
                4 friends
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid>
            <ion-row>
              <ion-col class="ion-text-center">
                <ion-button shape="round" class="btnd">
                  <ion-icon name="trash"></ion-icon>
                  DELETE
                </ion-button>
              </ion-col>

              <ion-col class="ion-text-center">
                <ion-button shape="round" class="btnp">
                  <ion-icon name="play"></ion-icon>
                  PLAY
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <!--RAINBOWSIX CARD-->
    <ion-slide>
      <ion-card class="games">
        <img class="imgs" src="./assets/img/rainbowsix.jpeg" />
        <ion-card-content>
          <h1>
            Description
          </h1>
          <ion-card-title>
            Rainbow Six Siege
          </ion-card-title>
          <br />
          <ion-grid class="align-grid">
            <ion-row class="align-row">
              <ion-col size="6.5">
                <ion-icon name="game-controller-outline"></ion-icon>
                Tiro Tático
              </ion-col>
              <ion-col>
                <ion-icon name="apps-outline"></ion-icon>
                FPS
              </ion-col>
            </ion-row>
            <ion-row class="align-row">
              <ion-col size="6.5">
                <ion-icon name="time-outline"></ion-icon>
                291.600 min
              </ion-col>
              <ion-col>
                <ion-icon name="people-outline"></ion-icon>
                96 friends
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid>
            <ion-row>
              <ion-col class="ion-text-center">
                <ion-button shape="round" class="btnd">
                  <ion-icon name="trash"></ion-icon>
                  DELETE
                </ion-button>
              </ion-col>

              <ion-col class="ion-text-center">
                <ion-button shape="round" class="btnp">
                  <ion-icon name="play"></ion-icon>
                  PLAY
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <!--Ellipse Slide Dots-->
  <div class="ellipse">
    <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
  </div>
</ion-content>
